:root {
  --black: #000000;
  --white: #ffffff;

  --dark-2: #121212;
  --dark-1: #202020;
  --dark-0: #303030;

  --text-accent: #E7E7E7;
  --text-normal: #CCCCCC;
  --text-disable: #888888;

  --blue: #0096FF;
  --red: #CA1E1E;
}