.button {
  padding: 12px 10px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  font-size: 18px;
  background: var(--dark-1);
  color: var(--accent-text);
  outline: none;
  cursor: pointer;

  &:hover {
    background: var(--dark-0);
  }
}