@import 'assets/stylesVariables/color.scss';
@import 'assets/stylesVariables/fonts.scss';
@import 'assets/stylesVariables/vars.scss';

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  background: var(--dark-2);
  color: var(--text-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
